.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  
  .loginRight {
    flex: 1;
    height: 100vh;
    background-color: #5923b7;
  }
  
  .loginRightTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 16px;
    padding-bottom: 20px;
    color: white;
    height: 100vh;
  }
  
  .loginLeft {
    flex: 1;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    text-align: center;
  }
  
  .loginLeftTitle {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 40px;
  }
  
  .loginLeftSubtitle {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
  }
  
  .loginLeftContainer {
    width: 500px;
    padding: 20px;
  }
  
  .loginLeftItem {
    margin-bottom: 15px;
  }
  
  .loginLeftButton {
    margin-top: 30px;
  }
  
  .loginLeftRecoverPassword {
    margin-top: 20px;
  }
  
  .loginLeftRecoverPassword a {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }